body {
  background: #E8EDF1;
}
#header {
  position:relative;
  width:100%;
  height:80px;
  background:#ffffff;
  -moz-box-shadow:0px 3px 5px rgba($color: #000000, $alpha: 0.1);
  -webkit-box-shadow:0px 3px 5px rgba($color: #000000, $alpha: 0.1);
  box-shadow:0px 3px 5px rgba($color: #000000, $alpha: 0.1);
}
#container {
  width: 100%;  
}
#nav { 
  position: relative;
  float: left;  
  width: 380px;   
  height: calc(100vh - 80px);
  background: #0B4E80;
  -moz-box-shadow:3px 0px 5px rgba($color: #000000, $alpha: 0.2);
  -webkit-box-shadow:3px 0px 5px rgba($color: #000000, $alpha: 0.2);
  box-shadow:3px 0px 5px rgba($color: #000000, $alpha: 0.2);
  transition:0.5s;
  transition-delay: 0.5s;
  .btn__panel--ctrl {
    position:absolute;
    right:-30px;
    top:50%;
    transform:translate(-50%, -50%);
    width: 25px;
    height: 80px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #0B4E80;
    color: #ffffff;
  }
}
#section__wrap {  
  float: right;
  width: calc(100% - 380px);
  background: #ffffff;
  padding: 25px;     
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-sizing:border-box;
  box-sizing:border-box;
  transition:0.5s;
  transition-delay: 0.5s;
}

// 세로모드 모바일 디바이스 (가로 해상도가 576px 보다 작은 화면에 적용)
@media (max-width: 575px) {
  body {
    min-width: 420px;
    overflow-x:auto;
  }
}

// 가로모드 모바일 디바이스 (가로 해상도가 768px 보다 작은 화면에 적용)
@media (max-width: 767px) {
  
}

// 태블릿 디바이스 (가로 해상도가 992px 보다 작은 화면에 적용)
@media (max-width: 991px) {
  #nav {
    display:none;    
  }
  #section__wrap {
    width: 100%;
  }
}

// 테스크탑 (가로 해상도가 1200px 보다 작은 화면에 적용)
@media (max-width: 1199px) {

}

// 기본 CSS를 작성합니다.
// 기본으로 작성되는 CSS는 1199px보다 큰 화면에서 작동 됩니다.